
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/**Global variable**/

* {
    scroll-behavior: smooth;

}
body{
    background-color: #fcfaf6;

}
:root{
    --main-color:#b24592; 
}


.title-sections h1{
    font-family: "Caveat", cursive;
        color: var(--main-color);
       
}

/**home section start**/

.navbar .navbar-brand{
    color:var(--main-color);
    font-family: "Playfair Display", serif;
    font-size: 20px;

}
.navbar .navbar-nav .nav-item a{
    color: var(--main-color);
    font-size: 21px;
    font-family: "Playfair Display", serif;
}

.title-sections h4{
font-weight: 400;
font-size: 25px;
color:var(--main-color);
}
.title-sections p{
    font-weight: 400;
    font-size: 30px;
}
.card{
    box-shadow:10px 20px 12px 1px #f4f4f4;
    border: none;
    height: 100%;
    padding: 20px;
     transition: transform 0.3s ease;
}
.card:hover{
      transform: scale(1.05);
}
/*down card
*/
/* 
 .cards {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 300px;
      padding: 20px;
      transition: transform 0.3s ease;
      cursor: pointer;
      text-align: center;
    }

    .cards:hover {
      transform: scale(1.05);
    }

    .cards img {
      width: 100%;
      border-radius: 8px;
    }

    .cards h3 {
      margin: 15px 0 10px;
    }

    .cards p {
      color: #555;
    } */



.card-title{
 color: rgb(105, 104, 104);
}
.card-text{
color: black;
}
.liveAndGithub{
    display: flex;
}
.liveAndGithub .github{
    font-size: 45px;
    color: #b24592;
    cursor: pointer;
}
.button-review{
    background-color: #de65ba;
    /* background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); */
    color: white;
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 5px;
}

.contact p{
    color: rgb(105, 104, 104);
}
.contact .call{
    color: #b24592;
    font-size: 22px;
}
.contact .footer-details{
    color: rgb(105, 104, 104);
}